<h1 class="display-1">{{ space?.title }}</h1>
<p class="lead">{{ space?.description }}</p>

<div class="input-wrapper">
    <input type="text" [(ngModel)]="newTitle" (keyup)="createList($event)" class="form-control" placeholder="New List"/>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ selectedType == 'list' ? 'List' : 'Vote' }}
        </button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="selectedType = 'list'">List</a></li>
        <li><a class="dropdown-item" (click)="selectedType = 'vote'">Vote</a></li>
        </ul>
    </div>
</div>

<div class="lists">
    <div class="list" *ngFor="let list of lists | async">
        <app-list-partial (reload)="reload()" [list]="list"></app-list-partial>
    </div>
</div>